@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  margin: 0 auto;
  max-width: 1920px;
}
body {
  min-height: 100dvh;
  background-color: #030712;
  background-image: url(Assets/Group\ 872.svg), url(Assets/Rectangle\ 2.svg),
    url(Assets/Group\ 876.svg), url(Assets/Group\ 878.svg),
    url(Assets/Group\ 25.svg), url(Assets/Group\ 875.svg);
  background-size: 100%, 100%, 100%, 100%, 100%, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: top center, 0px 649px, 0px 1163px, 0px 1881px, bottom,
    bottom;
  color: white;
  margin: 32px 119px 0px 119px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

h1 {
  font-size: 48px;
}
p {
  font-size: 18px;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 110px;
}

header nav {
  flex: 1;
  align-self: center;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 30px;
}

nav a:hover {
  color: #ffffffb3;
}

.contenedor1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.contenedor1-data {
  display: grid;
  align-content: space-between;
}
.contenedor1-data h1 {
  position: relative;
  width: 847px;
  height: 144px;
}

.contenedor1-data .contenedor1-data-texto {
  width: 520px;
  font-size: 18px;
  padding-left: 16px;
  border-left: 1px solid #9595ff;
}

.container-1 {
  position: relative;
  display: flex;
  margin-left: auto;
}

.contenedor1-img-Gradient {
  position: absolute;
  top: 377px;
  z-index: 2;
}
.contenedor1-img-Buttom {
  position: relative;
  background-image: url(Assets/Property\ 1=Default.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 126px;
  height: 126px;
  cursor: pointer;
  border-radius: 100%;
  z-index: 3;
  top: 164px;
  left: 317px;
}
.contenedor1-img-Buttom:hover {
  background-image: url(Assets/Property\ 1=Variant2.svg);
}

.contenedor1-data .button-1 {
  width: 239px;
  height: 40px;
  border-radius: 37px;
  color: #9595ff;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(84, 84, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor1-data .button-2 {
  width: 198px;
  height: 58px;
  border-radius: 49px;
  border: 1px #9595ff solid;
  color: #9595ff;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(84, 84, 235, 0.2);
  display: flex;
}

.contenedor2 {
  display: flex;
  justify-content: space-between;
  height: 492px;
  padding-top: 60px;
  margin-bottom: 40px;
}
.contenedor2-data {
  width: 580px;
  font-size: 18px;
  display: grid;
  align-content: space-between;
}
.contenedor2-data p {
  width: 580px;
  padding-left: 16px;
  border-left: 1px solid #9595ff;
}

.contenedor2-data p span {
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  color: #9595ff;
}

.contenedor2-img {
  display: flex;
}
.contenedor2-img p {
  text-align: center;
}
.contenedor2-img-1 p {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 14px;
}

.Gradient-img-2 {
  margin-top: -104px;
  margin-left: 26%;
}
.contenedor2-img-2 p {
  font-weight: bold;
  font-size: 14px;
}

.contenedor2-img-2 {
  margin-left: -60px;
}
.contenedor2-img-2 img {
  margin-bottom: 40px;
  box-shadow: inset;
}
.contenedor2-data .button-1 {
  width: 257px;
  height: 37px;
  padding: 0px 40px;
  border-radius: 37px;
  background-color: hsla(240, 79%, 63%, 0.2);
  color: #9595ff;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor2-data .button-2 {
  width: 430px;
  height: 37px;
  padding: 0px 40px;
  border-radius: 37px;
  background-color: hsla(240, 79%, 63%, 0.2);
  color: #9595ff;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor2-data .button-3 {
  width: 455px;
  height: 37px;
  padding: 0px 40px;
  border-radius: 37px;
  background-color: hsla(240, 79%, 63%, 0.2);
  color: #9595ff;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor3 {
  padding-top: 60px;
  margin-bottom: 40px;
}
.contenedor3-data {
  margin-bottom: 30px;
}
.contenedor3-data h3 {
  font-size: 24px;
  font-weight: 500;
}
.contenedor3-data h1 {
  font-size: 48px;
  font-weight: 900;
  margin-left: 5px;
}
.contenedor3-data div {
  display: flex;
}

.contenedor3-img {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.contenedor3-img div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contenedor3-img div img {
  width: 210px;
  margin-bottom: 16px;
}

.contenedor3-img p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  flex: 1;
}

.contenedor3-img-separador {
  position: relative;
  transform: rotate(90deg);
  top: 150px;
}

.contenedor4 {
  display: flex;
  padding-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.contenedor4-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor4-data .button-1 {
  width: 294px;
  height: 40px;
  border-radius: 37px;
  background-color: hsla(240, 79%, 63%, 0.2);
  color: #9595ff;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor4-data .button-2 {
  width: 198px;
  height: 58px;
  border-radius: 49px;
  border: 1px #9595ff solid;
  color: #9595ff;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(84, 84, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor4-data .contenedor4-data-text {
  padding-left: 18px;
  font-weight: 500;
  border-left: 1px solid #9595ff;
}

.contenedor5 {
  padding-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor5 h1 {
  margin-bottom: 24px;
}
.contenedor5 div {
  width: 234px;
  height: 36px;
  border-radius: 37px;
  background-color: hsla(240, 79%, 63%, 0.2);
  color: #9595ff;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}

.contenedor6 {
  padding-top: 60px;
  margin-bottom: 216px;
}
.contenedor6 h1 {
  margin-bottom: 30px;
}
.contenedor6 h3 {
  color: #9595ff;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 56px;
}

.container-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 35px;
}

.form-entrada {
  display: flex;
  flex-direction: column;
}
.form-entrada label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.form-entrada input {
  border-radius: 37px;
  padding: 0px 24px;
  height: 52px;
  outline: 0;
  border: 1px #ffffff5f solid;
  background-color: transparent;
  color: white;
  cursor: text;
  font-size: medium;
}

.form-entrada input:focus {
  border: 1px #ffffff solid;
}
.form-entrada input:hover {
  border: 1px #ffffff solid;
}

.form-opcional {
  grid-column: 1/3;
}

.form-opcional textarea {
  border-radius: 20px;
  padding: 24px 24px;
  height: 107px;
  outline: 0;
  border: 1px #ffffff5f solid;
  background-color: transparent;
  color: white;
  font-size: medium;
  cursor: text;
}

.form-opcional textarea:focus {
  border: 1px #ffffff solid;
}
.form-opcional textarea:hover {
  border: 1px #ffffff solid;
}

.contactar a {
  padding: 15px 30px;
}

.contactar:hover {
  background-color: #9595ff;
  color: #030712;
  cursor: pointer;
}

.contactar-error {
  border: 2px #ff0000 solid !important;
}

.contenedor6 .button-2 {
  width: 198px;
  height: 58px;
  border-radius: 49px;
  border: 1px #9595ff solid;
  color: #9595ff;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(84, 84, 235, 0.2);
  display: grid;
  place-content: center;
}

.enviar-form:hover {
  background-color: #9595ff;
  color: #030712;
  cursor: pointer;
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.modal-close {
  align-self: last baseline;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 100%;
}
.modal-close:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.modal-cerrado {
  display: none;
}

